<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Seed</title>
</head>
<body>

<div id="app"></div>

<script src="vendor/dll/dll.js"></script>
<script src="vendor/chunk/commons.js"></script>
<script src="vendor/chunk/example.entry.js"></script>
</body>
</html>